@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure Class Prep - DevOps</h1>
    <p>Automated Deployment is Designed.</a>.</p>
</div>
